.dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 33px;
    overflow: hidden;
}
.dropdown-header {
    width: 90%;
    height: 47px;
    border-radius: 5px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.dropdown-header-text {
    font-family: var(--font-primary);
    color: var(--fonts-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 19px;
    
}

.dropdown-body {
    display: inline-block;
    width: 90%;
    height: auto;
    max-height: 320px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    text-align: justify;
    background: #F7F7F7;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.close {
    display: none;
}
.open {
    display: block
}
.dropdown-body-text {
    
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;

    /* or 34px */

    color: #FF6060;
}