/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.itemTag {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 115px;
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.itemTagText {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}


/* RESPONSIVE */

@media screen and (max-width: 850px){
    .itemTagText {
        font-size: 10px;
    }
}
@media screen and (max-width: 680px){
    .itemTagText {
        font-size: 14px;
    }
}

@media screen and (max-width: 482px){
    .itemTagText {
        font-size: 10px;
    }
}
