/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
 .starsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
 }

 .spanStar {
    margin-left: 10px;
    display: flex;
    align-items: center;
 }

 .fa-star {
    font-size: 30px;
 }

 .colorStar {
    color: #FF6060;
 }

 .greyStar {
    color: #E3E3E3;
 }
 /* RESPONSIVE */
 
 @media screen and (max-width: 760px) {
   .fa-star {
      font-size: 22px;
   }
 }

 @media screen and (max-width: 680px) {}

 @media screen and (max-width: 500px) {}

 @media screen and (max-width: 375px) {
    .fa-star {
       font-size: 15px;
    }
 }
