/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.lodgingMain {
    background-color: transparent;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
}

/* RESPONSIVE */
@media screen and (max-width: 680px) {
    .lodgingMain {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media screen and (max-width: 375px) {
    .lodgingMain {
        margin-left: 20px;
        margin-right: 20px;
    }
}
