#errorPage-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    

}
#errorPage-title {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 31,236;
    
}
#errorPage-texte {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    margin: 0;
    margin-bottom: 66px;
}
#errorPage-link {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-decoration-line: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 182px;
    margin-bottom: 159px;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    #errorPage-texte {
        font-size: 28.235vw;
        margin-bottom: 11px;
        margin-top: 160px;
    }
    #errorPage-title {
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 133px;
        width: 260px;
        height: 52px;
    }
    
    #errorPage-link {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 235px;
    }
}
