/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.sectionProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.sectionDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    margin-bottom: 100px;
}
/* === WRAPPER ONE === */
.wrapperBoxOne{
    display: flex;
    flex-direction: column;
}

.titleWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.tagWrapper{
    display:flex;
    flex-direction: row;
    margin-top: 23px;
}
/* === WRAPPER TWO === */
.wrapperBoxTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profileWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 64px;
}

/* RESPONSIVE */
@media screen and (max-width: 375px) {
    .lodgingMain {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sectionProfile {
        flex-direction: column;
    }
    .profileWrapper{
        margin-top: 16px;
    }
}