/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.profileImage{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

 /* RESPONSIVE */
@media screen and (max-width: 826px) {}

@media screen and (max-width: 680px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 375px) {
    .profileImage{
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}