#home-body{
    margin-top: 171px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;

}
#home-section-one{
    background-image: url("../../img/img-bg-kasa.jpeg");
    background-position: center 45%;
    background-size: cover;
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-h1 {
    color: var(--fonts-color);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}


/* section gallery*/
#home-section-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    border-top: 43px;
    margin: 0;
    margin-top: 43px;
    background-color: var(--color-bg-primary);

}
