#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 0;
    margin-right: 100px;
}

#navbar-logo img {
   height: 68px;
}
/*#navbar-wrapper-link {}*/
.navbar-link {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-left: 57px;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
    #navbar-logo img {
        height: 47px;
      }
    #navbar {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .navbar-link {
        font-size: 12px;
        margin-left: 10px;
    }
}