/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
 #aboutContainer{
    margin-left: 6%;
    margin-right: 6%;
}
.dropdownContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

 /* RESPONSIVE */

@media screen and (max-width: 680px) {
    #aboutContainer{
        margin-left: 6%;
        margin-right: 6%;
    }
}