/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.listContainer {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 18px;
    width: 100%;
}

.itemList {
    font-style: normal;
    font-weight: 400;
    font-size: 1, 243vw;
    line-height: 142.6%;
    margin-left: 18px;
    margin-right: 18px;

    color: #FF6060;
    font-size: 18px;
}