/**
 * Author : Jean-Jacques Boero
 * Projet : App Kasa / P11 OC
 * Date : Aout 2022
 */
.titleProfileTitle {
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    color: #FF6060;
    font-size: 36px;
}

.locationProfileTitle {
    height: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    color: #FF6060;
    font-size: 18px;
}

/* RESPONSIVE */
@media screen and (max-width: 826px) {}

@media screen and (max-width: 680px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 375px) {
    .titleProfileTitle {
        font-size: 18px
    }

    .locationProfileTitle {
        font-size: 14px
    }
}