#errorPage-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    padding: 0;
    

}
#errorPage-title {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    
}
#errorPage-texte {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    margin: 0;
    margin-bottom: 66px;
}
#errorPage-link {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-decoration-line: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 182px;
}